{% extends 'layout.html' %}
{% block contenido %}
    <h3>Ing. Yuber Millan</h3>
    <p>Me encuentro en un proceso de aprendizaje y actualización de información que considero oportuna y necesaria para mi crecimiento profesional y
        eventualmente, mejoramiento de aptitudes en el ámbito tecnológico.
    <br>
    <br>
        Por tal motivo es la realización de este proyecto final del Curso de Python en CoderHouse.
    </p>
    <br>
    <a href="https://github.com/yub3r">Github/yub3r</a>
{% endblock contenido %}