{% extends 'layout.html' %}

{% block contenido %}
    <h1>Series</h1>
    <div class="py-4" style="float: right; margin-right: 8px;"><a class="btn btn-outline-secondary" href="{% url 'NuevaSerie' %}"><i class="bi bi-person-plus-fill"></i> Nueva Serie</a></div>
    {% comment %} <ul style="max-width: 50vw;"> {% endcomment %}
    <table class="table">
        {% for tvserie in object_list %}
            <tr>
                <td style="max-width: 200px;"><a href="{% url 'VerSerie' tvserie.codserie %}">{{ tvserie }}</a></td>
                <td><div style="float: right;">
                    <a class="btn btn-secondary" href="{% url 'Edit' tvserie.id %}"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-danger" href="{% url 'Delete' tvserie.id %}"><i class="bi bi-trash3"></i></a>
                </div></td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock contenido %}
