
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTVseries</title>
</head>
<body style="margin: 0;">
    <div style="display: flex; flex-direction: column; min-height: 100vh;">
        <div style="flex-grow: 1; padding-inline: 1rem;">
            <nav style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; background: #7c5bff; ">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <h2 style="margin-right: 1rem;">
                        <a href="{% url 'Inicio' %} "> YTVseries</a>
                    </h2>
                    <a href=" {% url 'ListaCriticos' %} " style="text-decoration: none; margin-inline: 5px;">Criticos</a>
                    <a href=" {% url 'ListaUsuarios' %} " style="text-decoration: none; margin-inline: 5px;">Usuarios</a>
                    <a href=" {% url 'ListaSeries' %} " style="text-decoration: none; margin-inline: 5px;">Series</a>
                    <a href="#" style="text-decoration: none; margin-inline: 5px;">Link4</a>
                </div>
                <div>
                    <a href=" {% url 'BuscarUsuario' %} " style="text-decoration: none; margin-inline: 5px;">Buscar Usuario</a>
                    <a href=" {% url 'BuscarSerie' %} " style="text-decoration: none; margin-inline: 5px;">Buscar Serie</a>
                </div>
            </nav>

        <div>
            {% block contenido %}
            
            {% endblock contenido %}
        </div>

        </div>

        <div style="flex-wrap: wrap; border-top: 1px solid black; padding-inline: 1rem;">
            <footer style="display: flex; justify-content: space-between;">
                <p>
                    Yúber Millán © 2022
                </p>
                <p>
                    <a href="#">Sobre mi</a>
                </p>
            </footer>
        </div>
    </div>
</body>
</html>