{% extends 'layout.html' %}

{% block contenido %}
    <h1>Usuarios</h1>
    <a href="{% url 'NuevoUsuario' %}">Nuevo Usuario</a>
    <ul style="max-width: 50vw;">
        {% for user in usuarios %}
            <li>
            <a href="{% url 'VerUsuario' user.id %}">{{ user }}</a> 
                <div style="float: right;">
                    <button>
                        <a href="{% url 'EditarUsuario' user.id %}">Editar</a>
                    </button>
                    <button> 
                        <a href="{% url 'EliminarUsuario' user.id %}">Eliminar</a> 
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock contenido %}